@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --nextra-banner-height: 2.5rem;
    --nextra-menu-height: 3.75rem;
    --nextra-navbar-height: 4rem;
    --nextra-primary-hue: 212deg;
    --nextra-primary-saturation: 100%;
    --shiki-color-ansi-black: #24292e;
    --shiki-color-ansi-black-dim: rgba(36,41,46,0.5);
    --shiki-color-ansi-blue: #0366d6;
    --shiki-color-ansi-blue-dim: rgba(3,102,214,0.5);
    --shiki-color-ansi-bright-black: #959da5;
    --shiki-color-ansi-bright-black-dim: rgba(149,157,165,0.5);
    --shiki-color-ansi-bright-blue: #005cc5;
    --shiki-color-ansi-bright-blue-dim: rgba(0,92,197,0.5);
    --shiki-color-ansi-bright-cyan: #3192aa;
    --shiki-color-ansi-bright-cyan-dim: rgba(49,146,170,0.5);
    --shiki-color-ansi-bright-green: #22863a;
    --shiki-color-ansi-bright-green-dim: rgba(34,134,58,0.5);
    --shiki-color-ansi-bright-magenta: #5a32a3;
    --shiki-color-ansi-bright-magenta-dim: rgba(90,50,163,0.5);
    --shiki-color-ansi-bright-red: #cb2431;
    --shiki-color-ansi-bright-red-dim: rgba(203,36,49,0.5);
    --shiki-color-ansi-bright-white: #d1d5da;
    --shiki-color-ansi-bright-white-dim: rgba(209,213,218,0.5);
    --shiki-color-ansi-bright-yellow: #b08800;
    --shiki-color-ansi-bright-yellow-dim: rgba(176,136,0,0.5);
    --shiki-color-ansi-cyan: #1b7c83;
    --shiki-color-ansi-cyan-dim: rgba(27,124,131,0.5);
    --shiki-color-ansi-green: #28a745;
    --shiki-color-ansi-green-dim: rgba(40,167,69,0.5);
    --shiki-color-ansi-magenta: #5a32a3;
    --shiki-color-ansi-magenta-dim: rgba(90,50,163,0.5);
    --shiki-color-ansi-red: #d73a49;
    --shiki-color-ansi-red-dim: rgba(215,58,73,0.5);
    --shiki-color-ansi-white: #6a737d;
    --shiki-color-ansi-white-dim: rgba(106,115,125,0.5);
    --shiki-color-ansi-yellow: #dbab09;
    --shiki-color-ansi-yellow-dim: rgba(219,171,9,0.5);
    --shiki-color-background: transparent;
    --shiki-color-text: lab(27.5348% 0 0);
    --shiki-token-comment: lab(69.608% -0.0000298023 0);
    --shiki-token-constant: lab(48.3994% 0.649333 -55.5719);
    --shiki-token-function: lab(39.0339% 41.1896 -60.5821);
    --shiki-token-keyword: lab(47.8876% 63.025 42.31);
    --shiki-token-link: lab(49.1367% -42.0409 31.8582);
    --shiki-token-parameter: lab(72.7377% 33.9074 77.3632);
    --shiki-token-punctuation: lab(12.7448% 0 0);
    --shiki-token-string: lab(49.1367% -42.0409 31.8582);
    --shiki-token-string-expression: lab(49.1367% -42.0409 31.8582);
}

body {
    font-family: 'Poppins', sans-serif;
}

